<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="nav-link" href="#" (click)="openUserProfile()"><i class="fa fa-user"></i></a>
  <a class="navbar-brand" style="color: white;">Movie Manager</a>
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
    
    </ul>
    <form class="form-inline ml-auto">
      <input type="search" [(ngModel)]="searchTerm" name="search" class="form-control mr-sm-2" placeholder="Search movies..." required>
      <button class="btn btn-primary ml-2" (click)="onSearch()">Search</button>
    </form>
    <ul class="navbar-nav ml-auto">
      <!-- User Favorites Movie Button -->
      <li class="nav-item">
        <button class="btn btn-primary" (click)="toggleFavorites()">Favorites</button>
      </li>
    </ul>
  </div>
</nav>

<!-- Latest Movies Section -->
<div class="container mt-4">
  <h2>Latest Movies</h2>
  <div class="row">
    <div *ngFor="let movie of latestMovies" class="col-md-6 col-lg-4 mb-4">
      <!-- Movie Card -->
      <div class="card">
        <img class="card-img-top" src="" alt="Movie Poster" /> 
        <div class="card-body">
          <h5 class="card-title">{{ movie.name }}</h5>
          <p class="card-text">{{ movie.description }}</p>
          <button *ngIf="!isFavorite(movie.id)" class="btn btn-primary" (click)="addToFavorites(movie.id)">Add to Favorites</button>
          <button *ngIf="isFavorite(movie.id)" class="btn btn-danger" (click)="removeFromFavorites(movie.id)">Remove from Favorites</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Favorites Pop-up Window -->
<div *ngIf="showFavorites" class="popup-window">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h3>User Favorites Movies</h3>
        <div class="row">
          <!-- Display user favorites movies here using *ngFor -->
          <div class="col-md-4" *ngFor="let movie of favoriteMovies">
            <div class="card" (click)="onCardClick(movie)">
              <!-- <img class="card-img-top" [src]="movie.posterImageUrl" alt="Movie Poster" /> -->
              <div class="card-body">
                <h5 class="card-title">{{ movie.name }}</h5>
                <p class="card-text">{{ movie.description }}</p>
                <button class="btn btn-danger" (click)="removeFromFavorites(movie.id)">Remove from Favorites</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <button class="btn btn-secondary" (click)="hideFavorites()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Search Results Pop-up Window -->
<div *ngIf="searchResults.length > 0 && showSearchResults" class="popup-window">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h3>Search Results</h3>
        <div class="row">
          <!-- Display search results here using *ngFor -->
          <div class="col-md-4" *ngFor="let movie of searchTermResults">
            <div class="card" (click)="onCardClick(movie)">
           
              <div class="card-body">
                <h5 class="card-title">{{ movie.name }}</h5>
                <p class="card-text">{{ movie.description }}</p>
                <button *ngIf="!isFavorite(movie.id)" class="btn-secondary" (click)="addToFavorites(movie.id)">Add to Favorites</button>
                <button *ngIf="isFavorite(movie.id)" class="btn btn-danger" (click)="removeFromFavorites(movie.id)">Remove from Favorites</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <button class="btn btn-secondary" (click)="hideSearchResults()">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Registration Form -->
<div *ngIf=" showPopup" class="popup-window">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h3>Registration</h3>
        <form (ngSubmit)="onRegister()">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
          </div>
          <button type="submit" class="btn btn-secondary">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- User Profile Pop-up Window -->
<div *ngIf="showUserProfile" class="popup-window">
  <!--  user object properties to display the user details -->
  <h3>User Profile</h3>
  <p>Name: {{ user.firstName }} {{ user.lastName }}</p>
  <p>Email: {{ user.email }}</p>
  <button class="btn btn-secondary" (click)="hideUserProfile()">Close</button>
</div>

